

.imagetext ul {
    list-style: none;
    padding: 0;
  }
  
  .imagetext li {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .imagetext-card-image img {
    width: 100%;
    height: auto;
  }
  
  .imagetext-card-body {
    padding: 10px;
  }
  

.imgTxt {
    color: red;
}
